body {
    background-color: #343a40;
}

table tr {
    cursor: pointer;
}

.row {
    flex-wrap: nowrap;
}

.log-data {
    color: #ffffff;
    border-top: solid 2px;
    border-color: #555555;
    padding-top: 5px;
}

#log-list {
    padding-right: 0px;
    border-right: solid 2px;
    border-right-color: #555555;
    font-size: 15px;
}

.settings {
    color: #ffffff;
}

.table-options {
    margin-bottom: 10px;
}

#update-interval {
    background-color: #333333;
    color: #ffffff;
    border: none;
}

#light-graph {
    width: 100% !important;
    height: 100% !important;
}

.main-svg {
    width: 100%;
    padding: 5px;
}

.legendtext {
    fill-color: #ffffff !important;
    fill-opacity: 1 !important;
}

.stat-data {
    border-top: solid 2px;
    border-color: #555555;
    padding: 0;
}

.vh-90 {
    height: 90vh !important;
}