body {
    background-color: #343a40;
}

table tr {
    cursor: pointer;
}

.row {
    flex-wrap: nowrap;
}

#log-list {
    padding-right: 0px;
    border-right: solid 2px;
    border-right-color: #555555;
    font-size: 15px;
}

.settings {
    color: #ffffff;
}

.toolbar {
    margin-bottom: 10px;
    color: #ffffff;
    padding-top: 5px;
    padding-left: 10px;
}

#update-interval {
    background-color: #333333;
    color: #ffffff;
    border: none;
}

#graph {
    width: 100% !important;
    height: 100% !important;
}

.main-svg {
    width: 100%;
    /*padding: 5px;*/
}

.legendtext {
    fill-color: #ffffff !important;
    fill-opacity: 1 !important;
}

.viewer {
    border-top: solid 2px;
    border-color: #555555;
    padding: 0;
}

.text-light {
    color: #ffffff;
}

.vh-90 {
    height: 90vh !important;
}

.dataTables_length, .dataTables_info {
    margin-left: 10px !important;
}

.dataTables_filter, .pagination {
    margin-right: 10px !important;
}