<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<div th:replace="header :: header"></div>
<body>

<!--Nav Bar-->
<div th:replace="nav :: nav"></div>

<div class="card settings bg-dark">
    <div class="alert alert-success alert-dismissible fade" role="alert">
        Settings saved
    </div>
    <h5 class="card-header">Settings</h5>
    <div class="card-body">
        <!--Settings form-->
        <form>
            <div class="form-group">
                <label for="log-path">Log Path</label>
                <input type="text" class="form-control" id="log-path" aria-describedby="logPathHelp"
                       placeholder="Enter the path to your log files">
                <small id="logPathHelp" class="form-text text-muted">The app currently only allows CSV files with the
                    extension .log
                </small>
            </div>
            <button type="button" class="btn btn-primary save">Save</button>
        </form>
    </div>
</div>

</body>

</html>