<!--Header-->
<head th:fragment="header">
    <title>Weather Logs</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!--Bootstrap-->
    <link rel="stylesheet" href="css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="css/weather.css" crossorigin="anonymous">
    <link rel="stylesheet" href="css/datatables.css" crossorigin="anonymous">
    <link rel="stylesheet" href="css/all.min.css" crossorigin="anonymous">

    <script src="js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/weather.js"></script>
    <script src="js/datatables.js"></script>
    <script src="js/all.min.js"></script>

    <link rel="icon" href="images/icon.png">
</head>