<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<div th:replace="header :: header"></div>
<body>

<!--Nav Bar-->
<div th:replace="nav :: nav"></div>

<!--Log body-->
<div class="jumbotron">

    <div class="card text-center">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item" th:each="log : ${logs}">
                    <a class="nav-link active log-item" href="#" th:id="${log.path}" th:utext="${log.name}"></a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <p class="card-text"></p>

        </div>
    </div>

    <div class=" row">
        <div th:each="log : ${logs}">
            <div class="card log-item" style="width: 18rem; margin-right: 10px;">
                <h5 class="card-header" th:utext="${log.name}"></h5>
                <div class="card-body">
                    <h5 class="card-title" th:utext="${log.size}"></h5>
                    <p class="card-text"></p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        $(".log-item").click(function (event) {
            var logPath = event.target.id;
            $.ajax({
                url: '/log',
                type: 'POST',
                data: {"path": logPath},
                dataType: 'json',
                success: function (log) {
                    $('.card-text').text(log.data);
                },
                error: function (error) {

                }
            });

        });

    });
</script>
</html>