<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<div th:replace="header :: header"></div>
<body>

<!--Nav Bar-->
<div th:replace="nav :: nav"></div>

<!--Log body-->
<div class="jumbotron">

    <div class="card text-center">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Logs</a>
                </li>
                <li class="nav-item" th:each="log : ${logs}">
                    <a class="nav-link log-item" href="#" th:id="${log.path}" th:utext="${log.name + ' (' + log.size + ')'}"></a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <p class="card-text">Choose a log file</p>
        </div>
    </div>

</div>

</body>

<!--Move this-->
<script>
    $(document).ready(function () {

        $('.nav-link').on('click', function () {
            $('.nav-link').removeClass('active');
            $(this).toggleClass('active')
        });

        $(".log-item").click(function (event) {
            var logPath = event.target.id;
            $.ajax({
                url: '/log',
                type: 'POST',
                data: {"path": logPath},
                dataType: 'json',
                success: function (log) {
                    $('.card-text').text(log.data);
                },
                error: function (error) {

                }
            });

        });

    });
</script>
</html>