<div class="btn-toolbar table-options" role="toolbar" th:fragment="stats-toolbar">

    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="auto-update">
        <label class="form-check-label" for="auto-update">Auto-update</label>
    </div>
    <div class="form-check form-check-inline">
        <div class="input-group input-group-sm">
            <input id="update-interval" type="text" class="form-control" placeholder="Update interval (secs)">
        </div>
        <select id="graph-field">
            <option value="light" selected>Light</option>
            <option value="temperature">Temperature</option>
        </select>
    </div>
</div>