<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<div th:replace="header :: header"></div>
<script src="js/stats.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<body>

<!--Nav Bar-->
<div th:replace="nav :: nav"></div>

<div class="container-fluid h-100 vh-90">
    <div class="row h-100">
        <!--Logs list-->
        <div id="log-list" class="col col-md-auto">
            <div th:replace="logs-table :: logs-table"></div>
        </div>

        <!--Light Graph Table-->
        <div class="stat-data col bg-dark">
            <!--Toolbar-->
            <div th:replace="stats-toolbar :: stats-toolbar"></div>

            <div id="graph"></div>
        </div>
    </div>
</div>

</body>
</html>