<div class="btn-toolbar toolbar" role="toolbar" th:fragment="stats-toolbar">

    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="auto-update">
        <label class="form-check-label" for="auto-update">Auto-update</label>
    </div>
    <div class="form-check form-check-inline">
        <div class="input-group input-group-sm">
            <input id="update-interval" type="number" class="form-control" placeholder="Update interval (secs)">
        </div>
    </div>
    <!--    TODO: populate options dynamically-->
    <div class="form-check form-check-inline">
        <select id="graph-field" class="form-control-sm">
            <option value="light" selected>Light</option>
            <option value="rgb" disabled>RGB</option>
            <option value="motion" disabled>Motion</option>
            <option value="temperature">Temperature</option>
            <option value="heading">Heading</option>
            <option value="pressure">Pressure</option>
        </select>
    </div>
</div>